<p id="notice"><%= notice %></p>

<h1>Listing Burgers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @burgers.each do |burger| %>
      <tr>
        <td><%= burger.name %></td>
        <td><%= burger.price %></td>
        <td><%= burger.description %></td>
        <td><%= burger.image_url %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


