<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @burger.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @burger.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @burger.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @burger.image_url %>
</p>
